@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin borderRadius($size: 0.5rem) {
   border-radius: $size;
}

@mixin customScrollBar() {
   scroll-behavior: smooth;

   &::-webkit-scrollbar {
      @include borderRadius();
      width: 6px;
      height: 6px;
   }

   &::-webkit-scrollbar-track {
      @include borderRadius();
      // background-color: rgb(35, 35, 39);
   }

   &::-webkit-scrollbar-thumb {
      @include borderRadius();
      // background-color: rgb(121, 121, 123);

      &:hover {
         // @apply bg-gray-500;
      }
   }

   scrollbar-width: thin;
   // scrollbar-color: rgb(121, 121, 123) rgb(35, 35, 39);
}

@layer base{
   [type='text'], [type='email'],
   [type='url'], [type='password'],
   [type='number'], [type='date'],
   [type='datetime-local'], [type='month'],
   [type='search'], [type='tel'],
   [type='time'], [type='week'],
   [multiple], textarea, select {
     @apply h-10 block w-full rounded-md placeholder-gray-500 text-gray-700 bg-transparent;
     &.error {
       @apply focus:ring-red-500;
     }
   }
 
   [type='checkbox'],
   [type='radio'] {
     @apply text-blue-600 focus:ring-blue-500 cursor-pointer;
   }
   [type='checkbox'] {
     @apply rounded;
   }
   [type='radio'] {
     @apply rounded-md;
   }
   textarea {
     min-height: 120px !important;
   }
   button {
     // @apply h-10;
   }
 }

.indicator {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   font-size: 2.2em;
   font-weight: 100;
   color: #555;
   user-select: none;
}

/** **/
.resizer {
   position: absolute;
   right: 0;
   top: 0;
   height: 100%;
   width: 5px;
   background: rgba(0, 0, 0, 0.5);
   cursor: col-resize;
   user-select: none;
   touch-action: none;
}

.resizer.isResizing {
   background: blue;
   opacity: 1;
}

.scrollbar {
   @include customScrollBar();
}

@media (hover: hover) {
   .resizer {
      opacity: 0;
   }

   *:hover>.resizer {
      opacity: 1;
   }
}